.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color: $color-black, $alpha: 0.1);
  background-color: rgba($color: $color-white, $alpha: 0.4);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: $default-font-size;
  // to counter this we would usually use the & > * selector but since we already have one transform defined in a child element we need to do it manually in all of them
  transform: skewX(-12deg);

  @include respond(tab-port) {
    width: 100%;
    padding: 4rem;
    padding-left: 7rem;
  }

  @include respond(phone) {
    transform: skewX(0);
  }

  &__shape {
    width: 15rem;
    height: 15rem;
    background-color: orangered;
    float: left;

    // best way to move a floated element
    transform: translateX(-3rem) skewX(12deg);
    position: relative;
    overflow: hidden;
    border-radius: 50%;

    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
      --webkit-clip-path: circle(50% at 50% 50%);
      clip-path: circle(50% at 50% 50%);
      --webkit-shape-outside: circle(50% at 50% 50%);
      shape-outside: circle(50% at 50% 50%);
      border-radius: none;
    }

    @include respond(phone) {
      transform: translateX(-3rem) skewX(0);
    }
  }

  &__img {
    // images always need dimensions (responsive web design)
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    backface-visibility: hidden; // to fix translation problem
    transition: all 0.5s;
  }

  &__text {
    transform: skewX(12deg);

    @include respond(phone) {
      transform: skewX(0);
    }
  }

  // initial state of the caption, before the hover (caption is invisible and translated a bit down from the center)
  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);

    color: $color-white;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;

    opacity: 0;

    transition: all 0.5s;
    backface-visibility: hidden; // again to fix the animation shakiness
  }

  // when hovering the story section
  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &:hover &__img {
    transform: translateX(-4rem) scale(1.05);
    filter: blur(3px) brightness(80%);
  }
}
