// if all child elements of an element are floated it loses its height, this hack prevents that
@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800]   is where our normal styles apply
1800px +:       Big desktop

$breakpoint argument choices:
  - phone
  - tab-port
  - tab-land
  - big-desktop

ORDER: 
1. Base + typography
2. General layout + grid
3. Page layout
4. Components

*/
// 1 em = 16px
// in media queries 1 em or 1 rem is ALWAYS defined by what comes from the browser root font size
// in media queries ALWAYS use ems
// only screen condition is a best practice (if someone wants to print the page they won't be applied)
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    // 600px
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }

  @if $breakpoint == tab-port {
    // 900px
    @media only screen and (max-width: 56.25em) {
      @content;
    }
  }

  @if $breakpoint == tab-land {
    // 1200px
    @media only screen and (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    // 1800px
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  }
}
